<div class="sticky-wrapper" style="height: 92px;">
    <header id="masthead" class="navbar navbar-sticky swatch-beige-black navbar-stuck" role="banner">
        <div class="container">
            <nav class="collapse navbar-collapse main-navbar" role="navigation">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{{ path('anasayfa') }}"><span class="fa fa-home fa-2x"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ><a > <span class="fa fa-search fa-2x search faa-burst animated-hover"></span> </a></li>
                    <li ><a > <span class="fa fa-paperclip fa-2x attach faa-shake animated-hover"></span> </a></li>

                    <li ><a href="{{ path('bildirim') }}"> <span style="color: {% if app.user.bildirimler|length > 0 and app.user.bildirimler|last.durum == 0 %}darkred{% else %}#000{% endif %};" class="fa fa-{% if app.user.bildirimler|length > 0 and app.user.bildirimler|last.durum == 0 %}bell animated{% else %}bell-o animated-hover{% endif %} fa-2x faa-ring "></span> </a></li>  {# Bildirimler varsa ve son bildirim okunmamışsa! #}


                    <li ><a > <span class="fa fa-comments-o fa-2x faa-tada animated-hover" disabled="disabled"></span> </a></li> {# Mesaj geldiğinde comment olacak. #}
                    {#<li ><a href="{{ path('mesaj') }}"> <span class="fa fa-comments-o fa-2x faa-tada animated-hover"></span> </a></li> &#123;&#35; Mesaj geldiğinde comment olacak. &#35;&#125;#}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-navicon fa-2x faa-pulse animated-hover"></span></a>
                        <ul class="dropdown-menu">
                            <li ><a href="{{ path('profil') }}"> <span class="fa fa-user fa-2x faa-shake animated-hover"></span> </a></li>
                            <li ><a href="{{ path('ayar') }}"> <span class="fa fa-cogs fa-2x faa-burst animated-hover"></span> </a></li>


                            {% if is_granted("ROLE_ADMIN") %}
                                <li ><a href="{{ path('blob_core_library_anasayfa') }}"> <span class="fa fa-dashboard fa-2x faa-burst animated-hover"></span> </a></li>

                            {% endif %}
                            <li ><a href="{{ path('fos_user_security_logout') }}"> <span class="fa fa-power-off fa-2x faa-burst animated-hover"></span> </a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

    </header>
</div>
